body {
	text-align: center;
	background-color: rgb(31, 30, 28);
	color: rgb(0, 67, 255);
}

h1 {
	text-align: center;
	color: rgb(0, 67, 255);
}

h2 {
	text-align: center;
	font-style: italic;
	color: darkgray;
}

h3 {
	font-style: normal;
	color: rgb(0, 67, 255);
}

p {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	text-align: center;
	color: white;
}

/* the best and funnest parts of CSS have to do with div-like structures */
/*
div {
	width: 300px;
   border: 2px normal line rgb(0, 67, 255);
   padding: 10px;
   margin: auto;
}
*/

#rcorners3 {
	border-radius: 30px;
	border: 2px solid rgb(0, 67, 255);
	margin: auto;
	padding: 10px;
	width: 350px;
	height: 150px;
	color: white;
}

abbr {
	font-style: italic;
}

/* unvisited link */
a:link {
	color: red;
}

/* visited link */
a:visited {
	color: rgb(0, 67, 255);
}

/* mouse over link */
a:hover {
	color: rgb(0, 67, 255);
}

/* selected link */
a:active {
	color: rgb(0, 67, 255);
}
