body {
	text-align: center;
	background: rgb(31, 30, 28);
	color: rgb(0, 67, 255);
}

h1 {
	text-align: center;
	color: rgb(0, 67, 255);
}

h2 {
	text-align: center;
	font-style: italic;
	color: white;
}

h3 {
	font-style: normal;
	color: rgb(0, 67, 255);
}

p {
	text-align: center;
	color: white;
}

abbr {
	font-style: italic;
}
