body {
	text-align: center;
	background: rgb(31, 30, 28);
	color: rgb(0, 67, 255);
}

h1 {
	text-align: center;
	color: rgb(0, 67, 255);
}

h2 {
	text-align: center;
	font-style: italic;
	color: white;
}

h3 {
	font-style: normal;
	color: rgb(0, 67, 255);
}

p {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	text-align: center;
	color: white;
}

abbr {
	font-style: italic;
}

/* unvisited link */
a:link {
	color: red;
}

/* visited link */
a:visited {
	color: rgb(0, 67, 255);
}

/* mouse over link */
a:hover {
	color: rgb(0, 67, 255);
}

/* selected link */
a:active {
	color: rgb(0, 67, 255);
}
