@font-face {
	font-family: 'Gidolinya';
		src: url('/assets/fonts/gidolinya.regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Kabrio';
		src: url('/assets/fonts/kabrio.soft-regular.ttf') format('truetype');
}

/* left aligned */
.text-box {
	width: 100%;
	height: 30%;
	margin: 0;
	padding-left: 30%;
	padding-right: 30%;
	text-align: center;
}

.text-box header {
	font-family: 'Kabrio';
	width: 100%;
	font-size: xx-large;
	text-align: center;
	color: #08fdd8;
}

.text-box p {
	color: #b0b9ca;
	font-family: 'Gidolinya';
	font-size: 1.3rem;
}

.text-box header img{
	width: 100px;
	height: 100px;
}

/* right aligned */
.menu {
	width: 40%;
	margin: 0;
	
	align-self: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
	position: relative;
}

.menu .menu-entry {
	width: 20%;
	
}