.background-canvas-holder {
	display: block;
	position: fixed;
	width: 88vw;
	height: 100vh;
	
	top: 0;
	left: 12%;
	bottom: 0;
	right: 0;
}

.background-canvas-holder #swarm {
	display:block;
   z-index:-1;
}