.flex-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
}

.flex-container > div {
	width: 25%;
	text-align: center;
}

.main {
	/* width: 86.58vw; should be 88%, but there is some mysterious padding that appears between the nav-bar and main div */
	width: 88vw !important;
	min-height: 100vh !important;
		
	position:relative;
	
	/* top: 0 ; */
	left: 12vw !important;
	right:0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	
	padding: 0 !important;
	
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
	
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-self: center !important;
	align-items: center !important;
	justify-content: center !important;
}