.flex-container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
}

.flex-container > div {
	width: 25%;
	text-align: center;
}

.main {
	width: 88vw;
	height: 100vh;
	
	position: relative;
	
	margin-left: 12vw;
	margin-right: 0;
	padding: 0;
	
	align-self: center;
	align-items: center;
	justify-content: center;
	
}