.entry div {
	display: flex;
	flex-wrap: wrap;
}

#entry_header {
	text-align: inherit;
	color: red;
	font-size: 10;
	font-size: x-large;
}

#entry_image {
	border-radius: 20px;
	width: 250px;
	height: 250px;
}

#entry_body {
	color: white;
	font-size: x-large;
	text-align: center;
	
	border-radius: 20px;
	border: 1px solid rgb(0, 67, 255);
	margin: auto;
	padding: 10px;
	
	min-width: 100px;
	max-width: 300px;
	min-height: 50;
	max-height: 200;
	
	width: auto;
	height: auto;
}