.github-favicon {
	width: 32px;
	height: 32px;
	background: url("/assets/github-favicon.png") no-repeat;
	margin: 0;
}
.github-favicon:hover {
	background: url("/assets/github-favicon-hover.png") no-repeat;
}