@font-face {
	font-family: 'Gidolinya';
		src: url('/assets/fonts/gidolinya.regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Kabrio';
		src: url('/assets/fonts/kabrio.soft-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Atmospheric';
	src: url('/assets/fonts/atmospheric-font.ttf') format('truetype');
}

.greeting {
	position: relative;
	
	width: auto;
	height: auto;
	
	margin-left: 10%;
	
	text-align: center;
	align-items: center;
	justify-content: center;
}

#greeting-animation {
	width: auto;
	height: auto;
	
	/* margin-left: 10%; */
	color: white;
}