a {
	position: relative;
}

/* unvisited link */
a:link {
	color: #909096;
	text-decoration: none;
}

/* visited link */
a:visited {
	/* color: rgb(0, 67, 255); */
	color: orange;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #08fdd8;
	text-decoration: none;
}

/* selected link */
a:active {
	color: blue;
	text-decoration: none;
}