@font-face {
	font-family: 'Atmospheric';
	src: url('/assets/fonts/atmospheric-font.ttf') format('truetype');
}

.nav-bar {
	width: 14vw;
	height: 100vh;
	min-height: 550px;
	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	
	margin: 0;
	padding: 0;
	
	background-image: linear-gradient(to right, rgb(0, 0, 25) , rgb(0, 0, 255));
	opacity: .7;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	z-index: 1;
	transition: opacity .2s;
}

.nav-bar:hover {
	opacity: .85;
}

.nav-bar .nav-bar-profile {
	width: 100%;
	height: 15%;
	max-height: 200px;
	min-height: 100px;
	
	display: grid;
	grid-template-columns: auto;
	grid-gap: 0;
	
	padding-top: 10%;
}
.nav-bar-profile > .initials {
	width: auto;
	height: auto;
	
	background: -webkit-linear-gradient(rgb(255, 50, 50), rgb(50, 0, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;  
	font-family: 'Atmospheric';
	font-size: 4rem;
	
	text-align: center;
	justify-content: center;
}

.nav-bar-profile > .title {
	width: auto;
	height: auto;
	
	color: rgb(200, 200, 200);
	font-size: 1rem;
	
	text-align: center;
	justify-content: center;
}

.nav-bar-separator {
	margin-left: 0;
	margin-right: 0;
	margin-top:20%;
	padding: 0;
	width: 100%;
	height: 2px !important;
	
	background-image: linear-gradient(to right, rgba(200, 200, 200, 255) , rgba(255, 255, 255, 0));
}

.nav-bar-menu {
	width: 100%;
	height: 40%;
	
	margin-top: 20%;
	margin-left: 0;
	margin-right: 0;
	
	float: left;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-bar-menu-icon {
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 0;
	padding: 0 5% 0 10%;
	width: 35px !important;
	height: 35px !important;
}

.nav-bar-menu-option {
	width: 100%;
	height: 50%;
	
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 0%;
	
	font-family: 'Atmospheric';
	font-size: 1rem;
	
	position: relative;
	text-align: left !important;
	justify-content: bottom !important;
	align-content: bottom; !important;
	
	color: rgb(200, 200, 200);
	text-decoration: none;
	line-height: 5rem;
	
	transition: .3s ease;
}

.nav-bar-menu-option:hover {
	color: white;
}

.nav-bar-menu-option:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(255, 0, 0);
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.nav-bar-menu-option:hover:before {
	visibility: visible;
	width: 100%;
}

.social {
	width: auto;
	height: 10rem;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	list-style-type: none;
}

.social li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social .favicon {
	width: 24px;
	height: 24px;
	
	margin-left: .5vw;
	margin-right: .5vw;
	margin-top: 0;
	margin-bottom: 0;
}