.project-menu {
	width: 100%;
	
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
	
	align-items: center;
	justify-content: center;
}

.project-menu > a {
	width: 20%;
	margin: 10px;
	text-align: center;
	align-items: center;
}