.project-menu {
	width: auto;
	right: 20%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
}

.project {
	width: 10rem;
	height: 10rem;
	padding: 20px;
	
	align-self: center;
	align-items: center;
	justify-content: center;
}

.project > img {
	width: 200px;
	height: 250px;
	opacity: 1.0;
}

.project > img:hover {
	opacity: .9;
}

.project > span {
	color: white;
	background-color: black;
	font-size: xx-small;
	opacity: .5;
}

.project > span:hover {
	opacity: 1.0;
}