.project-menu {
	/* width: 88vw; */
	/* margin-left: 12%; */
	/* margin-right: 0; */
	align-self: center;
	align-items: left;
	justify-content: left;
	display: flex;
	flex-direction: wrap;
	flex-flow: row wrap;
}

.project {
	width: 23%;
	height: 28.75%;
	min-width: 120px;
	min-height: 150px;
	
	padding: 1%;
	
	align-self: center;
	align-items: center;
	justify-content: center;
}

/* should have width:height ratio of 4:5 */
.project > img {
	width: 100%;
	height: 100%;
	min-width: 120px;
	min-height: 150px;
	
	opacity: 1.0;
}

.project > img:hover {
	opacity: .85;
}

.project > span {
	color: white;
	background-color: black;
	font-size: xx-small;
	opacity: .5;
}

.project > span:hover {
	opacity: 1.0;
}