body {
	background-size: cover;
	background-color: rgb(31, 30, 28);
}
/* 
div {
	text-decoration: none;
	float: center;
} */

h1 {
	font-size: 24;
	text-align: center;
	color: blue;
}

h2 {
	text-align: center;
	font-size: x-large;
	color: gray;
}

p {
	width: 40em;
	text-align: center;
	color: white;
	color: yellow;
	flex: 1;
}

#content-wrap {
	padding-bottom: 2.5rem;    /* Footer height from bottom*/
}

footer {
	color: grey;
	font-size: small;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	text-align: center;
}

abbr {
	font-style: italic;
}

span {
	align-items: center;
	color: #a5a5a5;
	font-size: 5rem;
	margin: 0;
}

.github-favicon {
	background: url("/assets/github-favicon.png");
}
.github-favicon:hover {
	background: url("/assets/github-favicon-hover.png") no-repeat;
}