body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url(/assets/dark-polygon-1.png);
	background-attachment: fixed;
	
	min-width: 700px;
	max-width: 100%;
	min-height: 600px;
	max-height: 100%;
	
	overflow-y: scroll;
	overflow-x: hidden;
}