@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
.hidden {
	opacity:0;
}
.console-container {
	font-family: 'Inconsolata', monospace;
	font-size:xx-large;
	height: 300px;
	width: 80%;
	display:block;
	color:white;
	margin:auto;
	text-align: center;
	align-self: right;
}

.console-underscore {
	display:inline-block;
	position:relative;
}